@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class='mainText'>
    <h1 class="display-4 text-capitalize text-black">Welcome to our sharp Razor Pizzas</h1>
    <h2 class='mainSubTitle'>Razor sharp Pizzas is pizza for you and me!</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <img class='mainImage' src='~/images/PizzaTime.jpg' />
        <br />
        <button class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/ThankYou">Get me that Pizza</button>
</div>
